<main *permissions="['store.view', 'store.manage']">
	<div class="container">
		<div class="row row-offcanvas row-offcanvas-right left-side">
			<div class="col-xs-12 col-sm-9" [class.component-loading]="loading">
				<div class="component-loading-inner"> loading... </div>
				<!--<ol class="breadcrumb">
					<li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
					<li class="breadcrumb-item active">Store</li>
				</ol>-->
				<div class="jumbotron">
					<h1>Store</h1>
				</div>
				<div>
					<span>Selected</span>
				<span>{{selectedProduct.name}}</span>
				<div class="container">
					<app-product-item *ngFor="let p of storeProducts" [product]="p" (selected)="onSelectionChange($event)"></app-product-item>
				</div>


				</div>
			</div>
		</div>
		<div class="right-side">
			<app-sidebar (selectedCategoryId)="onCategoryIdFilterChange($event)"></app-sidebar>
		</div>
	</div>
</main>

<style>
	.left-side{
		float:left;
		width: 80%;
	}
	.right-side {
		float: right;
	}
	.component-loading > div {
		display: none;
	}
	.component-loading .component-loading-inner {
		display: block !important;
	}
	.component-loading-inner {
		display: none;
	}
</style>